{% extends '::base.html.twig' %}

{% block main %}
<h2 class="text-center">{% trans %}Area Privada{% endtrans %}</h2>

	<h3>Hola <b>{{ app.user.username }}</b></h3>
	
	<a href="{{ path('acanalesequipo_crearequipo') }}">
		<button style="margin:auto; display:block; font-size:18px;" type="button" class="btn btn-primary">Crear nuevo equipo</button>
	</a>
	
	
{% endblock %}