{% extends '::base.html.twig' %}

{% block main %}
<h2>Contacto</h2>
{% if app.request.get('envio') == "ok" %}
	<div class="alert alert-success" role="alert">Su formulario se ha enviado correctamente.</div>
{% endif %}

	<form action="" method="post" {{ form_enctype(form) }}>

	    {{ form_widget(form) }}

	    {{ form_errors(form) }}

	 </form>
	
	
{% endblock %}

