{% extends '::base.html.twig' %}

{% block body %}
<h2>Prueba bootstrap</h2>

	<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default">Left</button>
		  <button type="button" class="btn btn-default">Middle</button>
		  <button type="button" class="btn btn-default">Right</button>
	</div>

	<ul class="list-group">
	  <li class="list-group-item">
		<span class="badge">14</span>
		Prueba1
	  </li>
	  <li class="list-group-item">
		<span class="badge">8</span>
		Prueba2
	  </li>
	</ul>
	
	
{% endblock %}
